<!DOCTYPE html>
<html ng-app>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
<title>解析Gamma谱数据测试页</title>
<script src="static/lib/jquery-2.0.3.js" type="text/javascript" charset="utf-8"></script>
<script src="static\lib\jquery.form.js" type="text/javascript" charset="utf-8"></script>
<script src="static/angular.js" type="text/javascript" charset="utf-8"></script>
<script src="static/humantestcontroller.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div ng-controller='HumantestController'>
    <div id="welcome" ng-show="ShowWelcome">
        <p>感谢参加解析Gamma谱数据验证，请先选择本地Gamma谱文件</p>
    </div>
    <div id="fileform_rapper">
        <form id="fileform"  action="/parser" method="post" enctype="multipart/form-data">
            <input type="file" id="ff" name="ff"  />
            <input type="button" ng-click="postfile()" id="submit" value="提交" />
        </form>
    </div>
    <div id="replyform_wrapper" ng-show="ShowReplyForm">
        <form id="replyform">
            <input type="text" name="reply" id="reply" ng-model="reply.text" />
            <input type="button" name="submit" id="submit" ng-action="postreply" value="提交" />
        </form>
    </div>
    <div id='result' ng-show="ShowResult">
        <p>
        {{rpt.Raw}}
        </p>
        <div id="Act">
            {{rpt.Name}}
        </div>
        <div id="info">
            {{rpt.Info}}
        </div>
    </div>
</div>
</body>
</html>
